<!doctype html>
<meta charset=utf-8>
<title>{% block title %}Untitled{% endblock %}</title>
{% block css %}
  <link rel=stylesheet href={{ url('static', 'main.min.css') }}>
{% endblock %}

<div id=container>
  <header id=header>
    <a id=brand href={{ url('home') }}>{{ project_name }}</a>
  </header>
  <section id=content>
    {% block content %}
    {% endblock %}
  </section>
  <footer id=footer>
    © Copyright
  </footer>
</div>

{% block js %}
  <script src={{ url('static', 'main.min.js' }}></script>
{% endblock %}
