ADMINS = MANAGERS = (
    ('Your Name', 'your_email@example.com'),
)
ALLOWED_HOSTS = ['localhost', ]
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'HOST': '',
        'USER': '',
        'PASSWORD': '',
    }
}
DEBUG = True
